---
// footer que se yo
---

<section class="bg-[#080808] p-4 text-green-500 text-center">
  <p class="text-sm">© 2025 Petrobras Rally.</p>
  <p class="text-sm">Desarrollado por <a href="https://instagram.com/enzler_mathias" class="hover:underline text-2xl text-yellow-300">Mathias Enzler</a></p>

</section>